- content_for :javascript do
  = javascript_include_tag "jQuery-ZenCoding"
  = javascript_include_tag "pages/tech"

#interest-container.center.padded
  #js.interest.box-rounded.center.padded
    %img{:alt => "Javascript is Ninja", :src => "/images/logos/javascript_logo.jpg"}/
    %h1 Javascript.
    Played the little guy to the statically typed juggernauts, now it's gaining dominance. Viva la revolucion!
    %br/
    Javascript will probably win the war, coz she's nimble.
    Many nights may be spent bathing in the simplicities, and wrestling with the intricacies, of a prototype driven world.
    Javascript has no logo, strange, no?
    %a{:href => "http://javascript.org"} Javascript.org
    is an abortion. Try
    = succeed "," do
      %a{:href => "http://alistapart.com"} A list apart
    or
    = succeed "," do
      %a{:href => "http://quirksmode.org"} Quirksmode
    %a{:href => "http://ajaxian.com"} Ajaxian
    or
  #ror.interest.box-rounded.center.padded
    %img{:alt => "Rails, Rails, Rails", :src => "/images/logos/rails.png"}/
    And then came
    %h1 Ruby on Rails
    and changed alot for the better.
    MVC, ORM and a plethora of orthogonal, vertical, full-stack buzzwords burst upon the unsuspecting techno-republic.
    Fanboi-ism went meta, and some of the lost treasures of the ancient neckbeards were rediscovered at this point.
  #nodejs.interest.box-rounded.center.padded
    %img{:alt => "So many hopes, so many dreams", :src => "/images/logos/nodejs.png"}/
    = succeed "The" do
      %h1 Nodejs
    new kid on the block. Party at the front, and party at the back. Seriously though, javascript on the back end may simplify aspects of web application, but that remains to be seen. Plus javascript is a cool language, who'da thought. Many thanks to the javascript ninjas out there; Resig, Crockford, Edwards, Stephenson & many others who made us all realise that prototype based languages are hella cool.
  #bespin.interest.box-rounded.center.padded
    %img{:src => "/images/logos/bespin-s.png"}/
    %h1 Bespin
    Mozilla's new tour-de-force into IDE's. Canvas based, cloud aware. They are going to be using Nodejs for the backend, this just keeps getting better. The browser is the OS. Strange, but true.
  #heroku.interest.box-rounded.center
    %img{:alt => "Heroku, nice", :src => "/images/logos/heroku.png"}/
    %h1 Heroku
    These guys are a bunch of new-breed techno cyborgs, gittin' their way to market dominance. Makin' clouds is a snap with this savvy service. All buzzwords are supported, out of the box!
    %br/
    %br/
    %code
      heroku create tangledbanalaties
      %br/
      git push heroku master
    %br/
    %br/
    Wow that's easy! Very nice.
  #git.interest.box-rounded.center
    %img{:alt => "I'm with stupid", :src => "/images/logos/git.png"}/
    %h1 Git
    Proof that Torvalds has not fallen off the porch yet. The guy is nuts, he's got balls. Programming in C full time would reduce most mere mortals to a gibbering mess. Not this man. Torvalds fends off neckbeards with his pinky. Git eats trees.
  #raphaeljs.interest.box-rounded.center
    %img{:alt => "Vector graphics will eat CSS", :src => "/images/logos/raphaeljs.png"}/
    %h1 Raphaël
    I like the logo. One day CSS will be a javascript library (or a dim memory). Vector graphics will make it so. Might be SVG, might be Canvas, not sure yet.
  #coffeescript.interest.box-rounded.center
    %img{:alt => "Coffee Script!", :src => "/images/logos/coffee-script.png"}/
    %h1 Coffee Script
    What a solid idea. I look forward to implementing something playful, or serious in this language.
  #jquery.interest.box-rounded.center
    %img{:alt => "jQuery, very sexy", :src => "/images/logos/jquery.png"}/
    %h1 jQuery
    Everyone knows about it, everyone is using it. It helps alot, with minimal pain points.

